<ion-header>
  <ion-toolbar color="primary">
    <ion-title>CEP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Insira seu CEP</ion-label>
    <ion-input [(ngModel)]='cep' placeholder="00000-000" ></ion-input>
  </ion-item>

  <ion-button (click)="pesquisar()">Consultar</ion-button>

  <ion-card *ngIf='mostrar'>
    <p>Logradouro: {{valor.logradouro}}</p>
    <p>Bairro: {{valor.bairro}}</p>
    <p>Cidade: {{valor.localidade}}</p>
    <p>Estado: {{valor.uf}}</p>
  </ion-card>
</ion-content>
